div.container {
    width: 80vw;
    height: 70vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div.allcharts {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

div.barcontainer {
    display:flex;
    flex-direction: column;
    align-items: left;
}
div.titleandbar {
    padding: 5vh 2vw;
}

h1 {
    font-family: sans-serif;
}

.progress-bar {
    width: 0;
    animation: progress 1.5s ease-in-out forwards;
} 

.title {
opacity: 0;
animation: show 0.35s forwards ease-in-out 0.5s;
}
  
@keyframes progress {
from {
    width: 0;
}
to {
    width: 100%;
}
} 
@keyframes show  {
from {
    opacity: 0;
}
to {
    opacity: 1;
}
}