div.container {
    width: 80vw;
    height: 40vh;
    padding-top: 10vh;
    padding-bottom: 10vh;
}

div.allcharts {
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}